{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>{% trans %} all_programs {% endtrans %} </h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / {{ category.name}}</h2>
            <a href="{{ path("category_show", { categoryName: category.name }) }}">{{ 'category'|trans }}</a>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        {{ 'button.back'|trans }}
    </a>
{% endblock %}