{% extends 'base.html.twig' %}
{% block title %}{{ 'category'|trans }} #{{ category.id }}{% endblock %}

{% block body %}

<h1 class="mt-0">{{ category.name }}</h1>
<h2>{% trans %} last_programs {% endtrans %}</h2>
{% for program in programs %}
        <div> 
            <a href="{{ path("program_show", { slug: program.slug }) }}"><h2>{{ loop.index }} / {{ program.title }} - ID : {{ program.id }}</h2></a>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

<a href="{{ path('category_index') }}">
    {{ 'button.back'|trans }}
</a>

{% endblock %}