{% extends 'base.html.twig' %}
{% block title %}Acteur #{{ actor.name }}{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-0">{{actor.name}}</h1>
    <h2>Séries dans lesquelles il/elle joue :</h2>
    {% for program in programs %}
    <ul>
      <li><a href="{{ path('program_show', { id: program.id }) }}">{{ program.title }}</a></li>
    </ul>
    {% endfor %}
    <a href="{{ path('actor_index') }}">
        Retour à la liste des acteurs
    </a>
</div>


{% endblock %}